.footer-style{
    max-width: 1440px;
    margin: auto;
    background-color: #0b3b3c;
}

.inform-about-atherCompany{
    display: flex;
    gap: 10px;
    vertical-align: auto;
    margin: auto;
    height: 100%;
    align-items: center;
    margin-left: 20px;
    color: white;
}

.inform-about-atherCompany a{
    color: white;
}

.sectionCompanyStyle{
    padding: 20px;
}


